<div class="row">
    <div class="col-sm-1 col-md-3"></div>
    <div class="col-sm-10 col-md-6">
        <h2>Address Details</h2>
        <hr />
    </div>
    <div class="col-sm-1 col-md-3"></div>
</div>
<div class="row">
    <div class="col-sm-1 col-md-3"></div>
    <div class="col-sm-10 col-md-6">
        <dl>
            <dt>
                Street
            </dt>
            <dd>
                {{model.street}}
            </dd>
            <dt>
                Street 2
            </dt>
            <dd>
                {{model.street2}}
            </dd>
            <dt>
                City
            </dt>
            <dd>
                {{model.city}}
            </dd>
            <dt>
                State
            </dt>
            <dd>
                {{model.state}}
            </dd>
            <dt>
                Zip Code
            </dt>
            <dd>
                {{model.zipCode}}
            </dd>
        </dl>
    </div>
    <div class="col-sm-1 col-md-3"></div>
</div>
<div class="row">
    <div class="col-sm-1 col-md-3"></div>
    <div class="col-sm-10 col-md-6">
        <hr />
        <h4>
            <a routerLink="/Addresses/Edit/{{model.id}}">Edit</a> |
            <a routerLink="/Addresses/Delete/{{model.id}}">Delete</a> |
            <a routerLink="/Addresses">Back to List</a>
        </h4>
    </div>
    <div class="col-sm-1 col-md-3"></div>
</div>
