<div class="row">
    <div class="col-sm-1 col-md-3"></div>
    <div class="col-sm-10 col-md-6">
        <h2>User Details</h2>
        <hr />
    </div>
    <div class="col-sm-1 col-md-3"></div>
</div>
<div class="row">
    <div class="col-sm-1 col-md-3"></div>
    <div class="col-sm-10 col-md-6">
        <dl>
            <dt>
                First Name
            </dt>
            <dd>
                {{user.firstName}}
            </dd>
            <dt>
                Last Name
            </dt>
            <dd>
                {{user.lastName}}
            </dd>
        </dl>
    </div>
    <div class="col-sm-1 col-md-3"></div>
</div>
<div class="row">
    <div class="col-sm-1 col-md-3"></div>
    <div class="col-sm-10 col-md-6">
        <hr />
        <h4>
            <a routerLink="/Users">Back to List</a>
        </h4>
    </div>
    <div class="col-sm-1 col-md-3"></div>
</div>
