<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            <p>
                Search:
                <input ng-model="$ctrl.query">
            </p>
            <p>
                Sort by:
                <select ng-model="$ctrl.orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>
            </p>
        </div>
        <div class="col-md-10">
            <!--Body content-->

            <ul class="events">
                <li ng-repeat="event in $ctrl.events | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail event-list-item">
                    <a href="#!/events/{{event.id}}" class="thumb">
                        <img ng-src="{{event.imageUrl}}" alt="{{event.name}}" />
                    </a>
                    <a href="#!/events/{{event.id}}">{{event.name}}</a>
                    <p>{{event.snippet}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>
