<div class="row">
    <div class="col-sm-1 col-md-3"></div>
    <div class="col-sm-10 col-md-6">
        <h2>Edit Address</h2>
        <hr />
    </div>
    <div class="col-sm-1 col-md-3"></div>
</div>
<div class="row">
    <div class="col-sm-1 col-md-3"></div>
    <div class="col-sm-10 col-md-6">
        <form #f="ngForm" novalidate (ngSubmit)="edit(f)">

            <div class="form-group">
                <label for="street">Street</label>
                <input [(ngModel)]="model.street" id="street" name="street" type="text" required class="form-control" placeholder="Street" #street="ngModel">
                <div [hidden]="street.valid || street.pristine" class="alert alert-danger">
                    Name is required
                </div>
            </div>

            <div class="form-group">
                <label for="street2">Street 2</label>
                <input [(ngModel)]="model.street2" id="street2" name="street2" type="text" class="form-control" placeholder="Street 2" #street2="ngModel">
            </div>

            <div class="form-group">
                <label for="city">City</label>
                <input [(ngModel)]="model.city" id="city" name="city" type="text" required class="form-control" placeholder="City" #city="ngModel">
                <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
                    City is required
                </div>
            </div>

            <div class="form-group">
                <label for="state">State</label>
                <input [(ngModel)]="model.state" id="state" name="state" type="text" required class="form-control" placeholder="State" #state="ngModel">
                <div [hidden]="state.valid || state.pristine" class="alert alert-danger">
                    State is required
                </div>
            </div>

            <div class="form-group">
                <label for="zipCode">Zip Code</label>
                <input [(ngModel)]="model.zipCode" id="zipCode" name="zipCode" type="text" required class="form-control" placeholder="Zip Code" #zipCode="ngModel">
                <div [hidden]="zipCode.valid || zipCode.pristine" class="alert alert-danger">
                    Zip Code is required
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success" [disabled]="f.invalid">Save</button> |
                <a routerLink="/Addresses">Back to List</a>
            </div>

        </form>
    </div>
    <div class="col-sm-1 col-md-3"></div>
</div>
